body {
  margin: 0;
  padding: 0;;
  height: 100%;
  /* background-color: rgb(65, 65, 65); */
  background-color: #484848;
  color: #E0E1DD;
}

header nav {
  padding-right: 10px;
  display: flex;
  align-items: center;
}

h1 {
  font-size: 200%;
  padding-left: 30px;
}

h2 {
  font-size: 175%;
}

header nav a {
  margin-left: 10px;
}

p {
  line-height: 1.25;
}

#me {
  margin-top: 20px;
  border-radius: 100px;
  border: 1px solid black;
  /* filter: grayscale(100%);
   -webkit-filter: grayscale(100%); */
}

#me:hover {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

#phonenav {
  display: none;
}

.skills {
  display: flex;
  justify-content: center;
}

.skills div {
  /* background-color: yellow; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 75%;
  justify-content: center;
}

div.skill {
  padding: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
  background: rgba(163, 162, 162, 0.25);
  border-radius: 10px;
  width: auto;
}

#phoneimg {
  display: none;
}

article h2 {
  margin-top: 30px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #191A1D;
}

article section {
  margin: 20px;
}

header {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  /* background-color: rgb(54, 156, 225); */
  background-color: #191A1D;
  /* border-bottom: 2px solid black; */
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: calc(100% - 70px);
  flex: 0;
}

#projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#project-lastest {
  width: 100%;
  flex: 0 0 auto;
}

.projects {
  width: 50%;
  flex: 0 0 auto;
  background-color: yellow;
}

aside {
  display: flex;
  flex-direction: column;
  width: 300px;
  /* border-right: 2px solid black; */
}

aside nav {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%
}

h2.underline {
  color: yellow;
}

aside a {
  align-self: flex-end;
}

.navbutton {
  width: 150px;
  Text-align: center;
  font-size: 150%;
  background-color: #007B6D;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid black;
  transform: rotate(8deg);
  margin-top: 10px;
  color: #E0E1DD;
}

.navbutton:hover {
  box-shadow: 0 0 10px black inset;
}

.navbutton:focus {
  box-shadow: 0 0 10px black inset;
}

.navbutton:active {
  font-size: 130%;
}

article {
  flex-wrap: wrap;
  height: 100%;
  overflow: auto;
  flex: 1 1;
  scroll-behavior: smooth;
}

/* Remove 992px screen option once sure it isn't needed */
/* @media screen and (max-width: 992px) {
  header {
    background: rgb(47, 196, 136);
  }
} */

/* @media screen and (max-width: 768px) {
  header {
    background: rgb(36, 107, 154);
  }
} */

@media screen and (max-width: 768px) {
  header {
    /* background: rgb(23, 67, 97); */
    flex-direction: column;
    /* height: 70px; */
  }
  h1 {
    padding-left: 0px;
  }
  #phonenav {
    display: flex;
    justify-content: center;
  }
  /* Height is calculated as full page height minus 70px for header and an additial 23px for #phonenav buttons */
  main {
    height: calc(100% - 93px);
  }
  #phoneimg {
    display: flex;
    justify-content: center;
  }
  aside {
    display: none;
  }
}

/* @media screen and (max-width: 576px) {

} */