:root {
  --primary: rgba(72, 72, 72, 1);
  --secondary: rgba(25, 26, 29, 1);
  --text: rgba(224, 225, 221, 1);
  --color: rgba(0, 123, 109, 1);
  --detail: rgba(163, 162, 162, 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  line-height: 1;
  font-family: sans-serif;
  height: 100%;
  background-color: var(--primary);
  color: var(--text);
}

h1 {
  font-size: 200%;
  padding-left: 30px;
}

h2 {
  font-size: 175%;
  margin-top: 30px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--secondary);
}

h3 {
  font-size: 150%;
  line-height: 2;
  text-align: center;
}

p {
  line-height: 1.5;
}

header {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background-color: var(--secondary);
}

header nav {
  padding-right: 10px;
  display: flex;
  align-items: center;
}

header nav a {
  margin-left: 10px;
}

#phonenav {
  display: none;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: calc(100% - 70px);
  flex: 0;
}

aside {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.me {
  margin-top: 20px;
  border-radius: 100px;
  border: 1px solid var(--secondary);
}

.me:hover {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

aside nav {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%
}

aside a {
  align-self: flex-end;
}

button {
  width: 150px;
  Text-align: center;
  font-size: 150%;
  background-color: var(--color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid var(--secondary);
  transform: rotate(8deg);
  box-shadow: 5px 5px 5px var(--secondary);
  margin-top: 10px;
  color: var(--text);
}

button:hover, button:focus {
  box-shadow: 0 0 10px var(--secondary) inset, 5px 5px 5px var(--secondary);
}

button:active {
  font-size: 130%;
}

article {
  flex-wrap: wrap;
  height: 100%;
  overflow: auto;
  flex: 1 1;
  scroll-behavior: smooth;
}

article section {
  margin: 20px;
}

#phoneimg {
  display: none;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
  width: 75%;
}

.skill {
  padding: 10px;
  margin: 0px 10px 20px 10px;
  background: var(--detail);
  border-radius: 10px;
  width: auto;
}

#projects-all {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projs {
border: 3px solid var(--secondary);
background-color: var(--secondary);
min-height: 150px;
max-height: 150px;
flex-basis: 48%;
display: flex;
align-items: flex-end;
padding: 0 0 20px 0;
margin: 5px;
background-size: cover;
color: var(--text);
text-decoration: none;
background-size: cover;
background-repeat: no-repeat;
}

.projs:hover, .projs:focus {
  box-shadow: 5px 5px 5px var(--color);
}

.projs div {
  background-color: var(--secondary);
  padding: 8px 10px;
}

#proj1 {
  background-image: url("../images/proj1.jpg");
  min-height: 300px;
  flex-basis: 100%;
}

#proj2 {
  background-image: url("../images/proj2.jpg");
  background-position: center 70%;
}

#proj3 {
  background-image: url("../images/proj3.jpg");
  background-position: center 70%;
}

#proj4 {
  background-image: url("../images/proj4.jpg");
  background-position: center left;
}

#proj5 {
  background-image: url("../images/proj5.jpg");
  background-position: center;
}



@media screen and (max-width: 992px) {
  .projs,
  .projs:first-child {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }
  h1 {
    padding-left: 0px;
  }
  #phonenav {
    display: flex;
    justify-content: center;
    height: 45px
  }
  button {
    width: auto;
    padding: 3px;
    font-size: 140%;
    border-radius: 10px;
    transform: rotate(0);
    margin-left: 3px;
    margin-right: 3px;
  }
  /* Height is calculated as full page height minus 70px for header and an additional 45px for #phonenav buttons */
  main {
    height: calc(100% - 115px);
  }
  #phoneimg {
    display: flex;
    justify-content: center;
  }
  aside {
    display: none;
  }
}