body {
  margin: 0;
  padding: 0;;
  height: 100%;
  background-color: #484848;
  color: #E0E1DD;
}

header nav {
  padding-right: 10px;
  display: flex;
  align-items: center;
}

h1 {
  font-size: 200%;
  padding-left: 30px;
}

h2 {
  font-size: 175%;
}

header nav a {
  margin-left: 10px;
}

p {
  line-height: 1.25;
}

#me, #me2nd {
  margin-top: 20px;
  border-radius: 100px;
  border: 1px solid black;
}

#me:hover, #me2nd:hover {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

#phonenav {
  display: none;
}

.skills {
  display: flex;
  justify-content: center;
}

.skills div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 75%;
  justify-content: center;
}

div.skill {
  padding: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
  background: rgba(163, 162, 162, 0.25);
  border-radius: 10px;
  width: auto;
}

#phoneimg {
  display: none;
}

article h2 {
  margin-top: 30px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #191A1D;
}

article section {
  margin: 20px;
}

header {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background-color: #191A1D;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: calc(100% - 70px);
  flex: 0;
}

#all-projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.projects {
  width: 48%;
  /* min-width: 48%; */
  margin: auto;
  margin-top: 10px;
  flex: 0 0 auto;
  background-color: yellow;
}

#proj1 {
  width: 98%;
  flex: 0 0 auto;
}

aside {
  display: flex;
  flex-direction: column;
  width: 300px;
}

aside nav {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%
}

h2.underline {
  color: yellow;
}

aside a {
  align-self: flex-end;
}

.navbutton {
  width: 150px;
  Text-align: center;
  font-size: 150%;
  background-color: #007B6D;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid black;
  transform: rotate(8deg);
  box-shadow: 5px 5px 5px #191A1D;
  margin-top: 10px;
  color: #E0E1DD;
}

.navbutton:hover {
  box-shadow: 0 0 10px black inset, 5px 5px 5px #191A1D;
}

.navbutton:focus {
  box-shadow: 0 0 10px black inset, 5px 5px 5px #191A1D;
}

.navbutton:active {
  font-size: 130%;
}

.phonebutton {
  font-size: 140%;
  background-color: #007B6D;
  border: none;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 5px 5px 5px #191A1D;
  margin-top: 10px;
  margin-left: 3px;
  margin-right: 3px;
  color: #E0E1DD;
}

.phonebutton:hover {
  box-shadow: 0 0 10px black inset, 5px 5px 5px #191A1D;
}

.phonebutton:focus {
  box-shadow: 0 0 10px black inset, 5px 5px 5px #191A1D;
}

.phonebutton:active {
  font-size: 130%;
}

article {
  flex-wrap: wrap;
  height: 100%;
  overflow: auto;
  flex: 1 1;
  scroll-behavior: smooth;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }
  h1 {
    padding-left: 0px;
  }
  #phonenav {
    display: flex;
    justify-content: center;
    height: 45px
  }
  /* Height is calculated as full page height minus 70px for header and an additional 45px for #phonenav buttons */
  main {
    height: calc(100% - 115px);
  }
  #phoneimg {
    display: flex;
    justify-content: center;
  }
  aside {
    display: none;
  }
}